/*=================================== Common CSS Start ==================================*/
* {
    margin: 0;
    padding: 0
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box
}

body {
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    background-color: #f5f5f5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0;
}

h3 {
    font-size: 24px;
}

h6 {
    font-size: 16px;
}

a,
input {
    display: block;
    text-decoration: none;
}

li {
    list-style-type: none;
}

img {
    vertical-align: middle;
    max-width: 100%;
}

.wrapper {
    width: 100%;
}

.sub-wrapper {
    max-width: 1100px;
    margin: 50px auto;
}
.post-header{
    text-align: center;
    font-size: 45px;
    font-weight: 900;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-family: "Arial";
    gap: 16px;
    margin-top: 50px;
}

.card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 4px 4px 12px #aaaa;
}
.card div {
    padding: 25px;
}
.card p {
    margin: 20px 0;
}
.card button {
    background-color: #2192FF;
    border: none;
    padding: 10px 45px;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}
.card button:hover {
    background-color: #137de8;
    cursor: pointer;
  }


  /* modal */
  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    border-radius: 10px;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }