* {
    margin: 0;
    padding: 0
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box
}

li {
    list-style-type: none;
}

.container {
    max-width: 570px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.completed {
    text-decoration: line-through;
}

.completed-button,
.edit-button {
    background: green;
    padding: 5px 18px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delete-button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
button#clearCompletedButton {
    margin-top: 20px;
    background: #7BD500;
    padding: 5px 5px;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}